.purchasesWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  flex: none;
}

.purchaseRow {
  display: flex;
  gap: 10px;
  align-items: center;
}

.purchaseItemWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  background-color: var(--color-black);
  border-radius: 10px;
}

.purchaseProductName {
  font-size: 20px;
  color: var(--color-white);
  font-weight: bold;
}

.purchaseList {
  color: var(--color-smoke);
}

.purchaseProductBuyerName {
  font-size: 15px;
  color: var(--color-smoke);
}

.purchaseTimeLeft {
  font-size: 15px;
  color: var(--color-smoke);
  padding: 5px 10px;
  background-color: var(--color-black-mute);
  border-radius: 0.35em;
}

.purchaseLeftSide {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.paginationWrapper {
  flex: none;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  align-items: flex-end;
  margin: auto 0 0;
}

.warning {
  color: var(--color-secondary);
}


.purchaseFilterWrapper {
  flex: none;
  display: flex;
  gap: 10px;
  padding: 0 0 20px;
  align-items: center;

  input {
    max-width: 300px;
  }
}

.purchaseStatus span{
  font-size: 14px;
  font-weight: 300;
}

.modalLabelWithCommentWrapper {
  & > p:last-child {
    margin-bottom: 24px;
  }
}

.modalDurationInputPart{
  min-width: 33%;
}
