.wrapper {
  font-size: 16px;
}
.productName {
  padding: 0.1em;
  background-color: var(--color-black);
  color: var(--color-white)
}

.productPrice {

}

.currency {
  font-size: 0.8em;
  color: var(--color-white);
}