.wrapper {

}

.selectRecordsLocationWrapper {
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.selectInput {
  width: 100%;
}

.listsSelect, .clansSelect {
  display: flex;
  justify-content: space-between;
}

.listsSelectButtonWrapper, .clansSelectInfoWrapper {
  margin-left: 6px;
  display: flex;
  gap: 3px;
}

.clansSelect {

}
.clansSelectInfoWrapper {

}


.recordsWrapper {
  display: grid;
  margin: 10px 0 0 0;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 6px;
}

.record {
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 12px;
  background-color: var(--color-black-soft);
  border-radius: 4px;
  border: 2px solid var(--color-black);

  font-size: 18px;
}

.recordColorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recordColor {
  width: 0.6em;
  height: 0.6em;
  border-radius: 100%;
  border: 1px solid;
}

.recordName {
  font-size: 1em;
  background-color: var(--color-black-2);
  border-radius: inherit;
  padding: 0.3em;
  max-width: 18%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recordExpirationDate {
  background-color: var(--color-black-2);
  font-size: 0.9em;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  color: var(--color-smoke);
  border: 1px solid var(--color-smoke-dark);
}
.recordGroup {
  font-size: 0.85em;
  background-color: var(--color-secondary-dark);
  border: 1px solid var(--color-black);
  border-radius: inherit;
  padding: 0.25em;

  max-width: 12%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recordSteamId{
  font-size: 0.9em;
  color: var(--color-smoke);
}

.recordRightSideBar {
  margin-left: auto;
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.createRecord {
  inset-inline-end: 30px;
  inset-block-end: 30px;
}

.createRecord:hover {
  transform: scale(1.003);
}

.createRecordDisabled {
  cursor: no-drop;
  opacity: 0.4;
}

.createRecordDurationInput {
  width: 80%;
}

.createRecordUnitInput {
  max-width: 20%;
}

.filterRecordsWrapper {
  margin: 0.5em 0 0 0;
}