.topWrapper {
    min-height: 100vh;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    margin: 20px;
    padding: 10px;
    flex-grow: 1;
    border-radius: 10px;
    min-height: 100%;
    background-color: var(--color-black-mute);
}