#appBar{
  width: 250px;
  height: 100%;
}

.listWrapper {
  background-color: var(--color-black-soft);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.divider {
  background-color: var(--color-black);
}

.listItem {
  .listItemIcon {
    fill: var(--color-white);
  }
  &:hover .listItemIcon {
    fill: var(--color-secondary);
  }
}

.userInfoWrapper {
  position: relative;
  margin: auto 5px 5px;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: var(--color-black);
  border-radius: 10px;
}

#username {
  display: block;
}
#userRole{
  display: block;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.loading{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}