.balanceLabel {
  display: flex;
  flex: 1;
  gap: 10px;
}

.balanceWrapper {
  color: var(--color-white);
  font-size: 1.5em;

  span {
    font-size: 0.9rem;
    color: var(--color-smoke);
  }
}

.serverLabel {
  display: flex;
  font-size: .5em;
  justify-content: flex-start;
  margin: 0 auto;
  align-items: center;
  color: var(--color-white);
  gap: 10px;
}

.topLabelWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-black);
  padding: 0 10px 10px;
}

.paymentForm {
  margin: 20px 0 5px 0;
}