@import "./variables.scss";
@import "./ui.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-black-mute);
}

::-webkit-scrollbar-thumb {
  background: var(--color-white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-smoke);
}