:root {
  --color-black: #181818;
  --color-black-2: #141414;
  --color-black-soft: #222222;
  --color-black-mute: #282828;
  --color-indigo: #2c3e50;
  --color-secondary: #ffc200;
  --color-secondary-dark: #bb8c00;
  --color-red: #e74c3c;
  --color-red-dark: #c0392b;
  --color-white: #ffffff;
  --color-smoke: rgba(255, 255, 255, 0.65);
  --color-smoke-dark: rgba(255, 255, 255, 0.2);
  --color-smoke-dark-1: rgba(255, 255, 255, 0.1);
}
